
module.exports = {
  diamond: {
    "username": "",
    "customerNo": "",
    "password": ""
  },
  aws: {
    "accessKeyId": "",
    "secretAccessKey": "",
    "region": "us-east-1",
    "s3Bucket": ""
  }

};
